/* SearchResults.css */

.activity-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem; 
  }
  
  .activity-card {
    width: calc(30% - 40px); 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .activity-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .activity-card-name {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .activity-card-price {
    margin-top: 0.5rem;
    color: #007bff; 
  }

  /* Targeting the container div of the SearchBar component */
SearchBar div {
    
  }
  
  