
.activity-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem; 
  }

.search-bar {
  
}

.nav-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

  
.search-results-heading  {
  margin-top: 100px;
  font-size: 50px;
}

  .activity-card {
    width: calc(30% - 40px); 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .activity-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .activity-card-name {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .activity-card-price {
    margin-top: 0.5rem;
    color: #007bff; 
  }


  
  