/* SearchBar.css */

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    width: 300px; 
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-right: 10px;
}

.search-container input:focus {
    outline: none;
    border-color: #007bff;
}

.search-container button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.search-container button:hover {
    background-color: orange;
}
