.popular-destinations-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Move the video behind other content */
}

.popular-destinations {
  position: relative;
  z-index: 1; /* Ensure the tourist attraction cards are above the video */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px; /* Add margin to push the container down */
}

.tourist-attraction-container {
  width: 100%; /* Ensure the container takes full width */
}

.tourist-attraction-card {
  width: calc(18% - 20px);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
}

.tourist-attraction-card img {
  width: 80%;
  margin-top: 20px;
  border-radius: 10px;
}

.tourist-attraction-card-name {
  font-weight: bold;
  margin-top: 0.5rem;
}

.tourist-attraction-card-price {
  margin-top: 0.5rem;
  color: #007bff; 
}

