/* BookingForm.css */

.booking-form {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    position: sticky;
    top: 80px;
    background-color: rgba(255, 166, 0, 0.811);
    max-width: 100%;
  }
  
  .booking-form h5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .booking-form input,
  .booking-form .react-datepicker-wrapper {
    width: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #333;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(229, 231, 235);
    margin-bottom: 1rem;
  }
  
  .booking-form input:focus,
  .booking-form .react-datepicker-wrapper input {
    outline: none;
  }
  
  .booking-form button {
    width: 100px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    border: none;
    background-color: #32b701;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: var(--primary-color-hover);
  }
  
  .booking-form .form-group {
    margin-bottom: 1rem;
  }
  
  .booking-form .form-group:last-child {
    margin-bottom: 0;
  }
  