body {
  margin-top: 80px
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250vh; /* Adjust the height of the container */
    position: relative;
  }
  
  .header {
    text-align: center;
  }
  
  .header-content {
    display: flex;
    flex-direction: column; /* Adjust to column to ensure proper stacking */
    align-items: center; /* Center horizontally */
  }
  
 h2 {
  font-size: 30px;
  margin-top: 100px;
 }
  
  .header img {
    width: 500px;
    position: relative;
    height: auto;
    border-radius: 10px;
    margin-top: 700px;
    margin-bottom: 20px;
  }
  
  .search-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .background-video {
    width: 100%;
    height: auto;
    margin-top: 150px;
    max-height: 50vh;
    object-fit: cover;
  }
  

