.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height of the container */
    position: relative;
  }
  
  .header {
    text-align: center;
  }
  
  .header-content {
    display: flex;
    flex-direction: column; /* Adjust to column to ensure proper stacking */
    align-items: center; /* Center horizontally */
  }
  
  .header h1 {
    max-width: 300px;
    word-wrap: break-word;
    text-align: center;
    font-size: 50px;
    margin-top: 50px; /* Adjust top margin as needed */
    color: #333;
    font-style: italic;
  }
  
  .header img {
    max-width: 600px;
    position: relative;
    height: auto;
    border-radius: 10px;
    margin-top: 700px;
    margin-bottom: 50px;
  }
  
  .search-container {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .background-video {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
  }
  